<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style rel="css">
        table {
            width: 600px;
            background-color: red;
        }
    </style>
</head>

<body>
    <div>
        <h2>Hi {{ FirstName }} {{ LastName }}!</h2>
        <p>Thanks for your confidence!</p>
    </div>
</body>

</html>